.btn-logout {
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 3px 8px;

}

.top-row-btn {
  padding-bottom: 10px;
  float: right;
}

.btn-square {
  margin: 0;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 10px;
  }

.menu-1 ul li a:hover {
  color: #F85A16 !important;
}

.menu-1 ul li a:active {
  color: #F85A16 !important;
}
.navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-header {
  height: 90px;
  position: relative;
}
.navbar-header .navbar-brand {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(10%, -30%);
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 600;
    font-size: 24px;
}
.navbar-header .navbar-brand span {
  color: #F85A16;
}

.navbar-header .navbar-toggle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
}

#login-status {
  padding-left: 4%;
}

#phoneNum {
  padding-right: 3%;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.schedule-tile {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.schedule-tile li {
  width: 25%;
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  list-style: none;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.white-popup.white-popup-large {
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}

.popup-image-showcase {
  max-width: 600px;
  float: left;

  margin: auto;
}
