.btn-logout {
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 3px 8px;

}

.menu-1 ul li a:hover {
  color: #F85A16 !important;
}

.menu-1 ul li a:active {
  color: #F85A16 !important;
}
